{% load url from future %}
{% load getattribute from admin_tags %}

<div class=span9>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                {% if columns %}
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                {% else %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.pk }}</td>
                    {% if columns %}
                        {% for column in columns %}
                            <td>
                                {% if forloop.first %}
                                    <a href="{# {% url object_change object.pk %} #}">
                                {% endif %}
                                {{ object|getattribute:column }}
                                {% if forloop.first %}
                                    </a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% else %}
                        <td>
                            <a href="{# {% url object_change object.pk %} #}">
                                {{ object }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
