body {
    padding-top: 50px;
}

/* navbar */

.navbar .brand {
    padding-left: 30px;
}

.navbar .login {
    padding-right: 10px;
}

/* */

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    margin: 0;
}

/* ChangeList */

#object-tools {
    margin-bottom: 10px;
}

.row1 {
    background: #EEE;
}